/*
    ///////////////>
    //>
    //> SECTION 1:      External resources
    //> DESCRIPTION:    Import external style resources like font APIs
    //> CONTENTS:       Import the default font from Google APIs
    //>
    ///////////////>
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*
    ///////////////>
    //>
    //> SECTION 2:      Global
    //> DESCRIPTION:    Styles that count for the whole website
    //> CONTENTS:       Styles for everything, for the body, footer and for the naviagion bar
    //>
    ///////////////>
*/

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #9c9c9c;
    color: #ffffff;
    font-size: larger;
}

footer {
    background-color: #525151;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: initial;
    bottom: 0;
}

/*
    ///////////////>
    //>
    //> SECTION 2.1:    Global: Navigation bar
    //> DESCRIPTION:    Create the navigation bar style
    //> CONTENTS:       
    //>
    ///////////////>
*/

/* Style for the whole header (container), or the top part of the website */
header {
    display: flex;
    justify-content: space-around;
    padding: 30px 10%;
    border-bottom: 5px solid #e8b02c;
    background: linear-gradient(to bottom, #525151 0%, #b3b3b3 200%);
}

/* Style for the logo */
.header-logo {
    height: auto;
    width: auto;
    max-height: 72px;
    max-width: 250px;
}

/* Style for the tabs */
.header-links li {
    display: inline-block;
    padding: 0px 20px;
}

/* Style for the navigation links */
.header-links a {
    font-weight: 500;
    font-size: 16px;
    color: #D4AF37;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    border-bottom: 1px solid #D4AF37;
}

.header-links a:hover {
    color: #177AFF;
}

/*
    ///////////////>
    //>
    //> SECTION 2.2:    Global: Footer
    //> DESCRIPTION:    Styling for the footer
    //> CONTENTS:       
    //>
    ///////////////>
*/

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 15px;
    display: inline-block;
}

.social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

/*
    ///////////////>
    //>
    //> SECTION 3:      Mobile
    //> DESCRIPTION:    Media Queries mobile devices
    //> CONTENTS:       
    //>
    ///////////////>
*/

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
    }

    .header-logo {
        max-height: 50px;
        max-width: 200px;
    }

    .header-links li {
        display: block;
        padding: 10px 0;
        text-align: center;
    }

    .home-banner h1 {
        font-size: 3rem;
    }

    .section-introduction {
        padding: 50px 10px;
    }

    .feature-box {
        max-width: 90%;
        min-width: 100%;
    }

    .section-feature {
        padding: 50px 10px;
    }

    .contact-banner h1 {
        font-size: 3rem;
    }

    .info-form, .info-text {
        min-width: 100%;
        max-width: 100%;
        padding: 20px 5px;
    }

    .info-map iframe {
        min-width: 100%;
    }
}

/* Media Queries small mobile devices */
@media (max-width: 480px) {
    .home-banner h1 {
        font-size: 2rem;
    }

    .section-introduction {
        padding: 30px 5px;
    }

    .feature-box {
        max-width: 100%;
        padding: 10px;
    }

    .section-feature {
        padding: 30px 5px;
    }

    .contact-banner h1 {
        font-size: 2.5rem;
    }

    .info-map iframe {
        height: 300px;
    }
}